@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #f98080;
  border: 6px solid transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #F53838;
}

html {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
  font-family: 'Montserrat Alternates', sans-serif;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button{
  transition: all 250ms;
}
button:not(.normal-btn):hover {
  box-shadow: rgba(245, 56, 56, .2) 0 -25px 18px -14px inset,rgba(245, 56, 56, .15) 0 1px 2px,rgba(245, 56, 56, .15) 0 2px 4px,rgba(245, 56, 56, .15) 0 4px 8px,rgba(245, 56, 56, .15) 0 8px 16px,rgba(245, 56, 56, .15) 0 16px 32px;

  transform: scale(1.01) rotate(-1deg);
}
